In [1]:
import requests as rq

In [4]:
import pandas as pd

In [5]:
pd.DataFrame(rq.get("http://localhost:5000/count_by_date").json())

   count day month  year
0      2  01    01  1970
1      1  27    04  2020
2      1  23    03  2021
3      1  21    03  2024
4      1  24    03  2024
5      1  26    03  2024
6      4  27    03  2024
7      6  01    04  2024